<!DOCTYPE html>
<html ng-app="telephoneList">
    <head>
        <title>Telephone List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"
    </head>
    <body ng-controller="telephoneListController">
            <div class="jumbotron">
                <h3>{{app}}</h3>
                <input class="form-control" type="text" ng-model="searchCriterion" placeholder="Search..."/>
                <table class="table table-striped" ng-show="contacts.length > 0">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Telephone</th>
                        <th>Date of Registration</th>
                        <th>Operator</th>
                    </tr>
                    <tr ng-class="{'selected bold': contact.selected}" ng-repeat="contact in contacts | filter:searchCriterion">     
                        <td><input type="checkbox" ng-model="contact.selected"/></td>                  
                        <td>{{contact.name | uppercase}}</td>
                        <td>{{contact.telephone}}</td>
                        <td>{{contact.date | date:'MM/dd/yyyy HH:mm'}}</td>
                        <td>{{contact.operator.name | lowercase}}</td>
                    </tr>
                </table>
                <hr/>   
                <form name="contactForm">            
                    <input class="form-control" type="text" placeholder="Name" name="name" ng-model="contact.name"  ng-required="true" ng-minlength="5"/>
                    <input class="form-control" type="text" placeholder="Telephone" name="telephone" ng-model="contact.telephone" ng-required="true" ng-pattern="/^\d{4,5}-?\d{4}$/" >
                    <select class="form-control" name="operator" ng-model="contact.operator" ng-options="
                    operator.name group by operator.category for operator in operators" required>
                        <option value="">Select an operator</option>
                    </select>
                </form>
                <div ng-messages="contactForm.name.$error" >
                    <div ng-message="invalid" class="alert alert-danger">
                        Please fill the name!
                    </div>
                    <div ng-message="minlength" class="alert alert-danger">
                        The Name field need to have 5 characters at minimum!
                    </div>
                </div>
                <div ng-messages="contactForm.telephone.$error">
                    <div ng-message="invalid" class="alert alert-danger">
                        Please fill the telephone number!
                    </div>
                    <div ng-message="pattern" class="alert alert-danger">
                        The Telephone field need to have 8 or 9 numbers!
                    </div> 
                </div>  
                <div ng-show="contactForm.operator.$invalid && contactForm.operator.$dirty" class="alert alert-danger">
                        Please select the operator!
                </div>              
                <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled=
                "contactForm.$invalid">Add Contact</button> 
                <button class="btn btn-danger btn-block" ng-click="removeContacts(contacts)" ng-show="isContactSeleted(contacts)">Remove Selected Contacts </button> 
            </div>
            <div ng-include="'footer.html'"></div>
    </body>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>    
    <script>
        angular.module("telephoneList", ["ngMessages"]);
        angular.module("telephoneList").controller("telephoneListController", function($scope)
        {
             $scope.app = "Telephone List"   
             $scope.contacts = [
                 {name: "Pedro", telephone: "999998888", date: new Date(), operator: {name: "O²", code: 1, category: "Cellphone"}},
                 {name: "Ana", telephone: "99991111", date: new Date(), operator: {name: "Telekom", code: 2, category: "Cellphone"}},
                 {name: "João", telephone: "99992222", date: new Date(), operator: {name: "Vodafone", code: 3, category: "Commercial Phone"}}
             ];
             $scope.operators = [
                 {name: "O²", code: 1, category: "Cellphone"},
                 {name: "Telekom", code: 2, category: "Cellphone"},
                 {name: "Vodafone", code: 3, category: "Commercial Phone"}
             ];
             $scope.addContact = function(contact) {
                 contact.date = new Date();
                 $scope.contacts.push(contact);
                 delete $scope.contact
                 $scope.contactForm.$setPristine();
             }
             $scope.class = "selected";
             $scope.removeContacts = function(contacts)
             {
                 $scope.contacts = contacts.filter(function (contact)
                 {
                     //return only the contacts that are not selected
                     //and attribute to !scope.contacts
                     if (!contact.selected) return contact;
                 });
                 
             }
             $scope.isContactSeleted = function (contact)
             {
                 return contact.some(function (contact)
                 {
                     return contact.selected;
                 });
             }
        });
    </script>
</html>