<!DOCTYPE html>
<html ng-app="telephoneList">

<head>
    <title>Telephone List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="src/css/style.css" />
    <link rel="stylesheet" type="text/css" href="src/css/ui.css" </head>

    <body ng-controller="telephoneListController">
        <div class="jumbotron">
            <h3>{{app}}</h3>
            <ui-alert>
                {{messageError}}
            </ui-alert>
            <input class="form-control" type="text" ng-model="searchCriterion" placeholder="Search..." />
            <table class="table" ng-show="contacts.length > 0">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="orderBy('serial')" />Serial</th>
                    <th><a href="" ng-click="orderBy('name')" />Name</th>
                    <th><a href="" ng-click="orderBy('telephone')" />Telephone</th>
                    <th><a href="" ng-click="orderBy('operator')" />Operator</th>
                    <th><a href="" ng-click="orderBy('date')" />Date of Registration</th>
                </tr>
                <tr ng-class="{'selected bold': contact.selected}" ng-repeat="contact in contacts | filter:searchCriterion | orderBy:orderByCriterion:orderByDirection">
                    <td><input type="checkbox" ng-model="contact.selected" /></td>
                    <td>{{contact.serial}}</td>
                    <td>{{contact.name | formattedName | ellipsis:15}}</td>
                    <td>{{contact.telephone}}</td>
                    <td>{{contact.operator.name | formattedName}}</td>
                    <td>{{contact.date | date:'MMM EEE MM/dd/yyyy HH:mm'}}</td>
                </tr>
            </table>
            <hr/>
            <form name="contactForm">
                <input class="form-control" type="text" placeholder="Name" name="name" ng-model="contact.name" ng-required="true" ng-minlength="5"
                />
                <input class="form-control" type="text" placeholder="Telephone" name="telephone" ng-model="contact.telephone" ng-required="true"
                    ng-pattern="/^\d{4,5}-?\d{4}$/">
                <select class="form-control" name="operator" ng-model="contact.operator" ng-options="
                    operator.name +' (price per minute: ' + (operator.pricePerMinute | currency) + ')' for operator in operators | orderBy:'name'"
                    required>
                        <option value="">Select an operator</option>
                </select>
            </form>
            <div ng-messages="contactForm.name.$error">
                <div ng-message="invalid" class="alert alert-danger">
                    Please fill the name!
                </div>
                <div ng-message="minlength" class="alert alert-danger">
                    The Name field need to have 5 characters at minimum!
                </div>
            </div>
            <div ng-messages="contactForm.telephone.$error">
                <div ng-message="invalid" class="alert alert-danger">
                    Please fill the telephone number!
                </div>
                <div ng-message="pattern" class="alert alert-danger">
                    The Telephone field need to have 8 or 9 numbers!
                </div>
            </div>
            <div ng-show="contactForm.operator.$invalid && contactForm.operator.$dirty" class="alert alert-danger">
                Please select the operator!
            </div>
            <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Add Contact</button>
            <button class="btn btn-danger btn-block" ng-click="removeContacts(contacts)" ng-show="isContactSeleted(contacts)">Remove Selected Contacts </button>
        </div>
        <div ng-include="'src/views/footer.html'"></div>
    </body>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_de-de.js"></script>
    <script src="src/js/app.js"></script>
    <script src="src/js/configValue.js"></script>
    <script src="src/js/services/contactsAPIService.js"></script>
    <script src="src/js/services/operatorsAPIService.js"></script>
    <script src="src/js/services/serialGeneratorService.js"></script>
    <script src="src/js/controllers/telephoneListController.js"></script>
    <script src="src/js/configSerialGenerator.js"></script>
    <script src="src/js/filters/formattedNameFilter.js"></script>
    <script src="src/js/filters/ellipsisFilter.js"></script>
    <script src="src/js/directives/uiAlertDirective.js"></script>
</html>