.jumbotron{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.table{
    margin-top: 20px;
}
th {text-align: center}
.form-control{
    margin-bottom: 5px;
}
.selected{
    background-color: khaki;
}
.bold{
    font-weight: bold;
}
.color-block{
    width: 20px;
    height: 20px;
}
.footer{
    text-align: center;
    font-weight: bold;
}

.ribbon {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 20px;
	height: 40px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #EEE transparent;
	cursor: pointer;
	background-color: #EE0000;
}
.ribbon:hover {
	height: 41px;
}